<launch>
  <!--
  <node name="planner_task3" pkg="interaction_manager" type="planner_task3.py" output="screen">
  </node>
  -->
  <node name="planner_task3" pkg="interaction_manager" type="planner_task3_object.py" output="screen">
  </node>
  <node name="actual_traj_recorder" pkg="interaction_manager" type="path.py" output="screen">
  </node>
</launch> 