<launch>
    <node pkg="image_transport" type="republish" name="republish_color"
        args="compressed in:=/camera/image raw out:=/camera/image_raw" output="screen" />
    
    <node pkg="planning_node" type="grid_node.py" name="grid_node" output="screen">
        <param name="use_sim_time" value="false"/>
    </node>
    
    <node pkg="planning_node" type="tsp_node.py" name="tsp_node" output="screen">
        <param name="use_sim_time" value="false"/>
    </node>
    
    <node pkg="planning_node" type="explore_node2.py" name="exploration_node" output="screen">
        <param name="use_sim_time" value="false"/>
    </node>
</launch>   